#https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle : WebKit

AccessModifierOffset : -4
AlignAfterOpenBracket  : DontAlign
AlignConsecutiveAssignments : false
AlignConsecutiveDeclarations : false
AlignEscapedNewlines : DontAlign
AlignOperands : false
AlignTrailingComments : false
AllowAllParametersOfDeclarationOnNextLine : false
AllowShortBlocksOnASingleLine : false
AllowShortCaseLabelsOnASingleLine : false
AllowShortFunctionsOnASingleLine : Empty
AllowShortIfStatementsOnASingleLine : false
AllowShortLoopsOnASingleLine : false
AlwaysBreakAfterReturnType : None
AlwaysBreakBeforeMultilineStrings : false
AlwaysBreakTemplateDeclarations : false # Broken? Should be 'No'?
BinPackArguments : false # But prefer true
BinPackParameters : true
BraceWrapping :
 AfterClass : true
 AfterControlStatement : true
 AfterEnum : true
 AfterFunction : true
 AfterNamespace : false
 AfterObjCDeclaration : true
 AfterStruct : true
 AfterUnion : true
 AfterExternBlock : true
 BeforeCatch : true
 BeforeElse : true
 IndentBraces : false
 SplitEmptyFunction : false
 SplitEmptyRecord : false
 SplitEmptyNamespace : false
BreakAfterJavaFieldAnnotations : true
BreakBeforeBinaryOperators : None
BreakBeforeBraces : Custom # But basically Allman, exception for namespaces
BreakBeforeTernaryOperators : false
BreakConstructorInitializers : BeforeComma
#BreakInheritanceList : BeforeComma
BreakStringLiterals : false
ColumnLimit : 0 # But prefer 80 for comments and 120 for code
#CommentPragmas
CompactNamespaces : true
ConstructorInitializerAllOnOneLineOrOnePerLine : true
#ConstructorInitializerIndentWidth
#ContinuationIndentWidth
#Cpp11BracedListStyle
DerivePointerAlignment : false
DisableFormat : false
#ExperimentalAutoDetectBinPacking
FixNamespaceComments : false
#ForEachMacros
IncludeBlocks : Preserve
#IncludeCategories
#IncludeIsMainRegex
IndentCaseLabels : true
IndentPPDirectives : AfterHash # But want BeforeHash (bug 36019)
#IndentWidth
IndentWrappedFunctionNames : false
#JavaImportGroups
#JavaScriptQuotes
#JavaScriptWrapImports
KeepEmptyLinesAtTheStartOfBlocks : true
#Language
#MacroBlockBegin
#MacroBlockEnd
MaxEmptyLinesToKeep : 4
NamespaceIndentation : None
#ObjCBinPackProtocolList
#ObjCBlockIndentWidth
#ObjCSpaceAfterProperty
#ObjCSpaceBeforeProtocolList
#PenaltyBreakAssignment
#PenaltyBreakBeforeFirstCallParameter
#PenaltyBreakComment
#PenaltyBreakFirstLessLess
#PenaltyBreakString
#PenaltyBreakTemplateDeclaration
#PenaltyExcessCharacter
#PenaltyReturnTypeOnItsOwnLine
PointerAlignment : Left
#RawStringFormats
ReflowComments : false
SortIncludes : false # But prefer true
SortUsingDeclarations : false
SpaceAfterCStyleCast : false
SpaceAfterTemplateKeyword : false
SpaceBeforeAssignmentOperators : true
#SpaceBeforeCpp11BracedList : false
#SpaceBeforeCtorInitializerColon : true
#SpaceBeforeInheritanceColon : true
SpaceBeforeParens : false
#SpaceBeforeRangeBasedForLoopColon : false
SpaceInEmptyParentheses : false
SpacesBeforeTrailingComments : 1
SpacesInAngles : false
SpacesInCStyleCastParentheses : false
SpacesInContainerLiterals : true
SpacesInParentheses : true
SpacesInSquareBrackets : false
Standard : Cpp11
#StatementMacros
TabWidth : 4 # ClangFormat seems to corrupt everything if this isn't 4???
UseTab : Always
